

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/background.png');
    background-size:cover;
    position:relative;
}

/* text css above hero image*/
.hero_title {
    font-size: 5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

#detail{
    font-size: 1.5rem;
    font-weight: light;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarLight{
    background-color: rgb(243, 243, 243);

}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-linkedin:hover, .fa-github:hover {
    color: grey;
}
.fab {
    color:white;
}

/* SKILLS */

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
 
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 0.01em; /* Add top padding */
  padding-bottom: 0.01em; /* Add bottom padding */
  color: white; /* White text color */
}

.js {width: 70%; background-color: #e8d1b5;} 
.html {width: 90%; background-color: #a6d1c1;} 
.css {width: 85%; background-color: #8dbee6;} 
.react {width: 50%; background-color: #97afcf;} 
.bst {width: 60%; background-color: #d1a8e8;} 

.django {width: 75%; background-color: #818181;}
.python {width: 60%; background-color: #d0b4cf;}
.express {width: 60%; background-color: #acd3b7;}
.node {width: 60%; background-color: #69948f;} 
.mongoose {width: 55%; background-color: #73abbd;} 

.sql {width: 55%; background-color: #b9aaa3;}
.mongo {width: 60%; background-color: #b9aaa3;}
.post {width: 50%; background-color:  #b9aaa3;}

.shopi {width: 70%; background-color: #79c7c5;}
.wix {width: 65%; background-color:#79c7c5;}
.square {width: 70%; background-color: #79c7c5;}

.card{
    margin-top: 2%;
    padding:5%;
    margin-bottom: 5%;
}

/* spacing on all sections */
#about, #skills, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}

/* footer styling */
#footer {
    background-color: #282727;
    text-align:center;
}